<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qboot.mon.dao.MonLoginLogDao" >
  <resultMap id="BaseResultMap" type="org.qboot.mon.dto.MonLoginLogDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="user_agent" property="userAgent" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="browser_name" property="browserName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  	login_name, status, login_time, ip, area, user_agent, device_name, browser_name
  </sql>
  
  <select id="findList" resultMap="BaseResultMap" parameterType="org.qboot.mon.dto.MonLoginLogDto" >
    select 
    <include refid="Base_Column_List" />
    from sys_login_log
    <where>
	    <if test="startDate!=null">
            and login_time >= #{startDate}
		</if>
		<if test="endDate!=null">
            <![CDATA[
                and login_time < #{endDate}
             ]]>
		</if>
	    <if test="ip !=null and ip!=''">
	    	and ip = #{ip}
	    </if>
	    <if test="status !=null and status!=''">
	    	and status = #{status}
	    </if>
	    <if test="loginName !=null and loginName!=''">
	    	and login_name like concat('%',#{loginName},'%')
	    </if>
    </where>
	order by login_time desc
  </select>
  
  <insert id="insert" parameterType="org.qboot.mon.dto.MonLoginLogDto" >
    insert into sys_login_log (ID, login_name, status,login_time,ip,area,user_agent,device_name,browser_name,remarks)
    values (#{id},#{loginName},#{status},#{loginTime},#{ip},#{area},#{userAgent},#{deviceName},#{browserName},#{remarks})
  </insert>
</mapper>