<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qboot.sys.dao.SysDictDao" >
  <resultMap id="BaseResultMap" type="org.qboot.sys.dto.SysDictDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, type, code, name, sort, status, create_by, create_date, update_date
  </sql>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" /> , remarks
    from sys_dict
    where id = #{id}
  </select>
  
  <select id="findList" resultMap="BaseResultMap" parameterType="org.qboot.sys.dto.SysDictDto" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    <where>
        <if test="type !=null and type != ''">
            and type like concat('%',#{type},'%')
        </if>
        <if test="code !=null and code != ''">
            and code like concat('%',#{code},'%')
        </if>
        <if test="name !=null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
    </where>
      order by id desc
  </select>
  
  <select id="findTypes" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select type, code, name, remarks from sys_dict where status = 1 and  type = #{type} order by sort asc
  </select>
  
  <delete id="deleteById" >
    delete from sys_dict where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="org.qboot.sys.dto.SysDictDto" >
    insert into sys_dict (ID, type, code, name, sort, status, create_by, create_date, update_by, update_date, remarks)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="org.qboot.sys.dto.SysDictDto" >
    update sys_dict
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="org.qboot.sys.dto.SysDictDto" >
    update sys_dict
    set type = #{type,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR} 
  </update>
  
  <update id="editStatus" parameterType="org.qboot.sys.dto.SysDictDto" >
    update sys_dict set update_by = #{updateBy}, update_date = #{updateDate}, status = #{status} where id = #{id} 
  </update>
</mapper>