<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qboot.sys.dao.SysParamTypeDao" >
    <resultMap id="BaseResultMap" type="org.qboot.sys.dto.SysParamTypeDto" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="param_type_class" property="paramTypeClass" jdbcType="VARCHAR" />
        <result column="param_type_id" property="paramTypeId" jdbcType="INTEGER" />
        <result column="param_type_code" property="paramTypeCode" jdbcType="VARCHAR" />
        <result column="param_type_name" property="paramTypeName" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="physics_flag" property="physicsFlag" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, param_type_id, param_type_class, param_type_code, param_type_name, physics_flag
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />, remarks
        from sys_param_type where id = #{id} and physics_flag = 1
    </select>
  
    <select id="findList" resultMap="BaseResultMap" parameterType="org.qboot.sys.dto.SysParamTypeDto" >
        select
        <include refid="Base_Column_List" />
        from sys_param_type
        <where>
            physics_flag = 1
            <if test="paramTypeName !=null and paramTypeName != '' ">
                and param_type_name like concat('%',#{paramTypeName},'%')
            </if>
            <if test="paramTypeClass !=null and paramTypeClass != '' ">
                and param_type_class = #{paramTypeClass}
            </if>
            <if test="paramTypeId != null">
                and param_type_id = #{paramTypeId}
            </if>
        </where>
    </select>

    <select id="findByDto" resultMap="BaseResultMap" parameterType="org.qboot.sys.dto.SysParamTypeDto" >
        select
        <include refid="Base_Column_List" />, remarks
        from sys_param_type
        <where>
            physics_flag = 1
            <if test="paramTypeName !=null and paramTypeName != '' ">
                and param_type_name = #{paramTypeName}
            </if>
            <if test="paramTypeClass !=null and paramTypeClass != '' ">
                and param_type_class = #{paramTypeClass}
            </if>
            <if test="paramTypeCode !=null and paramTypeCode != '' ">
                and param_type_code = #{paramTypeCode}
            </if>
            <if test="paramTypeId != null">
                and param_type_id = #{paramTypeId}
            </if>
        </where>
    </select>

    <update id="changeById" parameterType="org.qboot.sys.dto.SysParamTypeDto" >
        update sys_param_type
        <set >
            <if test="updateBy != null and updateBy != ''" >
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="physicsFlag != null" >
                physics_flag = #{physicsFlag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="insert" parameterType="org.qboot.sys.dto.SysParamTypeDto" >
    insert into sys_param_type (param_type_id, param_type_class, param_type_code, param_type_name, physics_flag, create_by, create_date, update_by, update_date, remarks)
    values (#{paramTypeId,jdbcType=INTEGER}, #{paramTypeClass,jdbcType=VARCHAR}, #{paramTypeCode,jdbcType=VARCHAR}, #{paramTypeName,jdbcType=VARCHAR}
        , #{physicsFlag,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}
        , #{createDate,jdbcType=TIMESTAMP},  #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="org.qboot.sys.dto.SysParamTypeDto" >
        update sys_param_type
        <set >
          <if test="paramTypeId != null" >
            param_type_id = #{paramTypeId,jdbcType=VARCHAR},
          </if>
          <if test="paramTypeName != null and paramTypeName != ''" >
            param_type_name = #{paramTypeName,jdbcType=VARCHAR},
          </if>
          <if test="paramTypeCode != null and paramTypeCode != ''" >
            param_type_code = #{paramTypeCode,jdbcType=VARCHAR},
          </if>
          <if test="paramTypeClass != null and paramTypeClass != ''" >
            param_type_class = #{paramTypeClass,jdbcType=VARCHAR},
          </if>
          <if test="updateBy != null and updateBy != ''" >
            update_by = #{updateBy,jdbcType=VARCHAR},
          </if>
          <if test="updateDate != null" >
            update_date = #{updateDate,jdbcType=TIMESTAMP},
          </if>
          <if test="remarks != null and remarks != ''" >
            remarks = #{remarks,jdbcType=VARCHAR},
          </if>
        </set>
        where id = #{id}
    </update>
  
</mapper>