<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qboot.sys.dao.SysUserDao" >
  <resultMap id="BaseResultMap" type="org.qboot.sys.dto.SysUserDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="lang" property="lang" jdbcType="VARCHAR" />

    <result column="fld_n1" property="fldN1" jdbcType="INTEGER" />
    <result column="fld_n2" property="fldN2" jdbcType="INTEGER" />
    <result column="fld_s1" property="fldS1" jdbcType="VARCHAR" />
    <result column="fld_s2" property="fldS2" jdbcType="VARCHAR" />
    <result column="PHYSICS_FLAG" property="physicsFlag" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
      u.id, u.dept_id, u.login_name, u.name, u.mobile, u.email, u.user_type, u.lang,
      u.fld_n1, u.fld_n2, u.fld_s1, u.fld_s2, u.version, u.status, u.create_date, d.name dept_name
  </sql>
  
  <sql id="Join_Table" >
    sys_user u left join sys_dept d on u.dept_id = d.id
  </sql>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="Join_Table" />
    where u.id = #{id}
  </select>
  
  <select id="findByDto" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="Join_Table" />
      <where>
          <if test="mobile !=null and mobile!=''">
              and u.mobile = #{mobile}
          </if>
          <if test="loginName !=null and loginName!=''">
              and u.login_name = #{loginName}
          </if>
          <if test="email !=null and email!=''">
              and u.email = #{email}
          </if>
          <if test="fldN1 !=null">
              and u.fld_n1 = #{fldN1}
          </if>
          <if test="fldN2 !=null">
              and u.fld_n2 = #{fldN2}
          </if>
          <if test="fldS1 !=null and fldS1 !=''">
              and u.fld_s1 = #{fldS1}
          </if>
          <if test="fldS2 !=null and fldS2 !=''">
              and u.fld_s2 = #{fldS2}
          </if>
      </where>
  </select>

    <select id="findSecretInfo" resultMap="BaseResultMap" parameterType="org.qboot.sys.dto.SysUserDto" >
        select u.login_name, u.id, u.password, salt from sys_user u
        <where>
            <if test="id !=null">
                and u.id = #{id}
            </if>
            <if test="loginName !=null and loginName!=''">
                and u.login_name = #{loginName}
            </if>
        </where>
    </select>

  <select id="findList" resultMap="BaseResultMap" parameterType="org.qboot.sys.dto.SysUserDto" >
    select
    <include refid="Base_Column_List" />
    from <include refid="Join_Table" />
    <where>
        <if test="id !=null">
            and u.id = #{id}
        </if>
        <choose>
            <when test='deptId !=null and deptId!="" and deptId.contains(",")'>
                or d.parent_ids like concat('%', #{deptId},'%')
            </when>
            <when test="deptId !=null and deptId!=''">
                and d.id = #{deptId}
            </when>
        </choose>
        <if test="status !=null">
            and u.status = #{status}
        </if>
        <if test="loginName !=null and loginName!=''">
            and u.login_name like concat('%', #{loginName}, '%')
        </if>
        <if test="name!=null and name!=''">
            and u.name like concat('%',#{name},'%')
        </if>
        <if test="mobile !=null and mobile !=''">
            and u.mobile like concat('%',#{mobile},'%')
        </if>
        <if test="fldN1 !=null">
            and u.fld_n1 = #{fldN1}
        </if>
        <if test="fldN2 !=null">
            and u.fld_n2 = #{fldN2}
        </if>
        <if test="fldS1 !=null and fldS1 !=''">
            and u.fld_s1 like concat('%', #{fldS1},'%')
        </if>
        <if test="fldS2 !=null and fldS2 !=''">
            and u.fld_s2 like concat('%', #{fldS2},'%')
        </if>
        <if test="createBy !=null and createBy !=''">
            and u.create_by = #{createBy}
        </if>
        <if test="startDate!=null">
            and u.create_date > #{startDate}
        </if>
        <if test="endDate!=null">
            and <![CDATA[ u.create_date < #{endDate} ]]>
        </if>
    </where>
      order by id desc
  </select>
  
  <delete id="deleteUserRoleByUserId" parameterType="java.lang.Long">
		delete from sys_user_role where user_id= #{userId}
  </delete>
  
  <insert id="insertUserRole" parameterType="java.util.List">
		insert into sys_user_role (user_id, role_id) values
		<foreach collection="list" item="item" separator=",">
			(#{item.userId}, #{item.roleId})
		</foreach>
  </insert>
	
  <insert id="insert" parameterType="org.qboot.sys.dto.SysUserDto" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user (dept_id, login_name, password, salt, name, mobile, email, user_type, status, create_by, create_date, update_by,
    update_date, remarks, fld_n1, fld_n2, fld_s1, fld_s2)
    values (
    	#{deptId,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      	#{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      	#{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      	#{userType,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR},
      	#{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      	#{remarks,jdbcType=VARCHAR}, 
      	#{fldN1,jdbcType=INTEGER}, #{fldN2,jdbcType=INTEGER}, #{fldS1,jdbcType=VARCHAR}, #{fldS2,jdbcType=VARCHAR}
     )
  </insert>
  
  <update id="update" parameterType="org.qboot.sys.dto.SysUserDto" >
    update sys_user u
    <set >
      <if test="deptId != null" >
        dept_id = #{deptId},
      </if>
      <if test="loginName != null and loginName != ''" >
        login_name = #{loginName},
      </if>
      <if test="password != null and password != ''" >
        password = #{password},
      </if>
      <if test="salt != null and salt != ''" >
        salt = #{salt},
      </if>
      <if test="name != null and name != ''" >
        name = #{name},
      </if>
      <if test="mobile != null and mobile != ''" >
        mobile = #{mobile},
      </if>
      <if test="email != null and email != ''" >
        email = #{email},
      </if>
      <if test="userType != null" >
        user_type = #{userType},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="lang != null" >
         lang = #{lang},
      </if>
      <if test="updateBy != null and updateBy != ''" >
        update_by = #{updateBy},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks},
      </if>
      <if test="fldN1 != null" >
        fld_n1 = #{fldN1},
      </if>
      <if test="fldN2 != null" >
        fld_n2 = #{fldN2},
      </if>
      <if test="fldS1 != null" >
        fld_s1 = #{fldS1},
      </if>
      <if test="fldS2 != null" >
        fld_s2 = #{fldS2},
      </if>
    </set>
    where id = #{id} 
  </update>

  <update id="updateSelect" parameterType="org.qboot.sys.dto.SysUserDto" >
    update sys_user
    set
      update_by = #{updateBy},
      update_date = #{updateDate},
      <if test="name != null and name != ''" >
          name = #{name},
      </if>
      <if test="mobile != null and mobile != ''" >
          mobile = #{mobile},
      </if>
      <if test="email != null and email != ''" >
          email = #{email},
      </if>
      <if test="userType != null" >
          user_type = #{userType},
      </if>
      <if test="deptId != null" >
          dept_id = #{deptId},
      </if>
      <if test="remarks != null and remarks != ''" >
          remarks = #{remarks},
      </if>
      <if test="fldS1 != null and fldS1 != ''" >
          fld_s1 = #{fldS1},
      </if>
      version=#{version}+1
    where id = #{id} and version = #{version}
  </update>
  
  <update id="initPwd" parameterType="org.qboot.sys.dto.SysUserDto" >
    update sys_user set password = #{password}, fld_n1 = #{fldN1} where id = #{id} 
  </update>
  
  <update id="setStatus" parameterType="org.qboot.sys.dto.SysUserDto" >
    update sys_user set status = #{status}, update_by = #{updateBy}, update_date = #{updateDate}
      where
      <choose>
          <when test="id !=null">
              id = #{id}
          </when>
          <when test="loginName !=null and loginName != ''">
              login_name = #{loginName}
          </when>
          <otherwise>
              login_name = ''
          </otherwise>
      </choose>
  </update>
</mapper>